<!doctype html>
<html lang="en-us">
<head>
    <title>about</title>
    <style>
    body {
        font-family: -apple-system, "HelveticaNeue";
        word-wrap: break-word;
        -webkit-text-size-adjust: 100%;
        line-height: 1.2em;
        font-size: 17px;
    }
    a, a:visited, a:focus {
        color: rgba(0, 122, 255, 1.0); /* default ui tint_color */
        text-decoration: none;
    }
    </style>
</head>
<body>
    <p><strong>WordRoom</strong> is an app for creating and managing personal dictionaries.</p>
    <p>I'm John and I wrote this app. Feel free to contact me at <a href="mailto:jbpjackson@icloud.com">jbpjackson@icloud.com</a>. My homepage is <a href="https://johnridesa.bike/">johnridesa.bike</a>.</p>
    <p>Like WordRoom? Want to make it better? <a href="https://github.com/johnridesabike/WordRoom">Contribute to its repository!</a></p>
</body>
