<!doctype html>
<html lang="en-us">
<head>
    <title>Loading</title>
    <style>
    body {
        font-family: -apple-system, "HelveticaNeue";
        word-wrap: break-word;
        -webkit-text-size-adjust: 100%;
        line-height: 1.2em;
        font-size: 17px;
    }
    a, a:visited, a:focus {
        color: rgba(0, 122, 255, 1.0); /* default ui tint_color */
        text-decoration: none;
    }
    .loading {
        /*text-align: center;
        font-size: 32px;*/
        color: rgba(0, 0, 0, 0.5);
    }
    </style>
</head>
<body>
    <p class="loading">Downloading knowledge...</p>
</body>
